<html>
<head>
    <title>{{ web_title }}</title>
    <link href="{{ url_for('css', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<div class="title">{{ web_title }}</div>
<hr>
<div class="status_title">Status:</div>
<div class="status_value">{{ status.name }}</div>
<br>
<div class="status_title">Active:</div>
<div class="status_value">{{ active }}</div>
<br>
{% if file_processed is not none %}
    <div class="status_title">Currently processing:</div>
    <div class="status_value">{{ file_processed }}</div>
    <br>
{% endif %}
<div class="status_title">Next:</div>
<div class="status_value">{{ next_show }} in {{ next_show_timedelta }}</div>
<br>
<hr>
<a href="list">Show List</a>
<a href="reload">Reload JSON</a>
<hr>
<div class="section_title">Finished files</div>
<table style="width:50%">
    <tr>
        <th>Time</th>
        <th>Show</th>
        <th>File</th>
    </tr>
    {% for item in dl_items %}
    <tr>
        <td>{{ item.timestamp }}</td>
        <td>{{ item.show_name }}</td>
        <td>{{ item.file_path }}</td>
    </tr>
    {% endfor %}

</table>
</body>
</html>
