html *
{
   font-size: 1em;
   color: white;
   font-family: Arial !important;
   font-weight: bold;
}

body {
    background-color: #32557f !important;
}

hr {
    width:50%;
    text-align: left;
    margin-left: 0;
	border-top: 1px dashed #8c8b8b;
	border-bottom: 1px dashed #fff;
}

.title
{
  text-align: left;
  font-size: 70px;
  text-shadow: 3px 3px black;
  font-weight: bold;
  padding-bottom: 25px;
}

.status_title
{
    float: left;
    text-align: left;
    width: 180px;
}

.status_value
{
    padding-left: 20px;
    float: left;
    color: #a8ccf7;
    text-align: left;
}

.timestamp
{
    padding-left: 20px;
    float: left;
    color: black;
    text-align: left;
}

.section_title
{
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

table, th, td {
  border: 0px;
  border-collapse: collapse;
  padding: 4px;
}

th {
  text-align: left;
  font-size: 20px;
}

tr:nth-child(even) {
  background-color: #486e9c;
}


